.indent {
  padding-top: 100px;
  @media (max-width: 800px) {
    padding-top: 30px;
  }
  @media (max-width: 1025px) {
    padding-top: 50px;
  }
}

.landmark-background {
  background-color: #f6f6f6;
}

.landmark {
  &__wrap {
    padding: 20px;
    & h2 {
      margin-top: 20px;
      color: #000;
      @media (max-width: 800px) {
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
  &__href {
    margin-top: 20px;
    font-size: 12px;
    & a {
      color: #000;
      transition: 0.3s;
      &:hover {
        color: rgb(219, 0, 0);
      }
    }
  }
  &__window {
    background-color: #fff;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 #0000001a;
    @media (max-width: 800px) {
      padding: 10px;
    }
    &-imgs {
      &.active {
        display: flex;
      }
      display: none;
      justify-content: center;
      &_item {
        cursor: pointer;
      }
    }
    &_imgs-slider {
      position: relative;
      width: 1100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      .imgs-slider {
        &__wrapper {
          display: flex;
          position: relative;
          transition: transform 0.3s ease;
        }
        &__items {
          display: flex;
          transform: translateX(33.33%);
        }
        &__item {
          transition: transform 0.3s ease;
          width: auto;
          height: 550px;
          object-fit: cover;
          cursor: unset;
        }
        &__btn_prev {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          background: rgba(255, 255, 255, 0.5);
          border: none;
          cursor: pointer;
          z-index: 10;
          left: 10px;
          font-size: 24px;
          color: #000;
          border-radius: 10px;
          align-items: center;
          justify-content: center;
        }
        &__btn_next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          background: rgba(255, 255, 255, 0.5);
          border: none;
          cursor: pointer;
          z-index: 10;
          right: 10px;
          font-size: 24px;
          color: #000;
          border-radius: 10px;
          align-items: center;
          justify-content: center;
        }
        &__close {
          position: absolute;
          font-size: 40px;
          right: 0;
          border: none;
          background: none;
          cursor: pointer;
        }
      }
    }
    &-main {
      &.active {
        display: none;
      }
      position: relative;
      z-index: 1;
      background: #fff;
      color: #000;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      @media (max-width: 800px) {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0px;
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
    &_info-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &_imgs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2px;
      @media (max-width: 800px) {
        width: 100%;
        height: auto;
      }
      .imgs__item {
        cursor: pointer;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:first-child {
          grid-area: 1 / 1 / 3 / 2;
        }
      }
      #img1 {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      #img2 {
        border-top-right-radius: 20px;
      }
      #img3 {
        border-bottom-right-radius: 20px;
      }
    }
    &_description {
      width: 100%;
      font-size: 14px;
    }
    &_bottom-block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      @media (max-width: 800px) {
        margin-top: 10px;
      }
      .map {
        grid-column: 1 / 3;
      }
    }
    &_grade {
      font-size: 12px;
      background-color: #f5f5f5;
      padding: 5px;
      border-radius: 10px;
      grid-column: 1 / 3;
      &:before {
        content: '⭐';
      }
    }
    &_adress {
      background-color: #f5f5f5;
      border-radius: 20px;
      padding: 20px;
      font-size: 14px;
      display: flex;
      align-items: center;
    }
    &_blue-btn {
      background-color: #d6ecff;
      border-radius: 20px;
      padding: 20px;
      border: none;
      width: 100%;
      height: 100%;
      font-family: Unbounded;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #b5dcff;
      }
      &.green-btn {
        background-color: #53ff95;
        transition: 1s;
      }
      @media (max-width: 1024px) {
        padding: 10px;
        font-size: 10px;
      }
    }
  }
  &__title {
    @media (max-width: 1024px) {
      font-size: 13px;
    }
  }
  &__add {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
    transform: translateY(-1000px);
    margin-top: -508px;
    .input-photo__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &_choice-reviews {
      display: flex;
      justify-content: space-between;
      &_tag {
        outline: 0;
        border: none;
        background: #fff;
        border-radius: 10px;
        padding: 10px;
        font-family: Unbounded;
      }
      &_left-block {
        display: flex;
        gap: 20px;
      }
      &_filter {
        outline: 0;
        border: none;
        background: #fff;
        border-radius: 10px;
        padding: 10px;
        font-family: Unbounded;
        width: 100%;
      }
    }
    &_photes-btn {
      padding: 10px;
      border-radius: 25px;
      cursor: pointer;
      background: #d6ecff;
      outline: 0;
      font-size: 14px;
      border: none;
      font-family: Unbounded;
      transition: 0.3s;
      &:hover {
        background: #b5dcff;
      }
      @media (max-width: 1024px) {
        font-size: 12px;
      }
    }
    &-close {
      text-decoration: underline;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        color: #666;
      }
      @media (max-width: 1024px) {
        font-size: 13px;
      }
    }
    &_description {
      display: flex;
      font-family: Unbounded;
      font-size: 16px;
      width: 100%;
      height: 100px;
      border: none;
      border-radius: 20px;
      background-color: #ddd;
      padding: 10px;
      outline: none;
      resize: none;
      &.title {
        height: 40px;
        font-weight: 600;
      }
    }
    &_elem-input {
      display: flex;
      font-family: Unbounded;
      font-size: 16px;
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 20px;
      background-color: #ddd;
      padding: 10px;
      outline: none;
    }
  }
}
